NEXTAUTH_URL=https://mustakit.com
NEXTAUTH_SECRET=gizli_bir_key_buraya_yaz

GOOGLE_CLIENT_ID=google_client_id_buraya
GOOGLE_CLIENT_SECRET=google_client_secret_buraya

NEXT_PUBLIC_API_URL=https://api.mustakit.com
